@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.close{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.sonComponent {
  display: block;
}

.imgClose {
  margin-left: 0 !important;
  margin-right: 4px !important;
  margin-top: 4px !important;
  justify-content: flex-end;
}

.textModified{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

}

.buttomModified{
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.myButtom{
  height: 30px;
  background:#007bff;
  color:white;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.myButtom:focus{
  box-shadow: none;
  background: #007BFF;
}

#charNum{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
  font-family: 'Audiowide',cursive;

}

