@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

:root{
  --height-body-container : 10px;
}

.overlay{
  position: absolute;
  height: var(--height-body-container);
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  transition: background-color 0.5s ease-in-out;
  position:-webkit-sticky;
  position: sticky;
  background-color: black;
  width: 100%;
  height: 60px;
  top:0;

  color:white;

  font-size: 35px;
  border-bottom: 1px solid white;
}

.headerDark{
  transition: background-color 0.5s ease-in-out;
  background-color: white;
  color:black;
  border-bottom: 1px solid black;
}

.title{
  font-family: 'Lobster', cursive;
  text-align: center;
}

.divToggle{
  position: absolute;
  height: 60px;
  right: 0;
  top:0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07); /*Not remove*/
}

input:checked + .slider {
  background-color: #2196F3;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.body-container{
  transition: background 0.5s ease-in-out;
  min-height: calc( 100vh - 60px - 56px);
  background-color: black;
}

.body-containerDark{
  transition: background 0.5s ease-in-out;
  background-color:white;

}

.myTable{
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: white;
  border: 2px solid white;


}

.myTableDark{
  color: black !important;
  border: 2px solid black !important;
}

.containerTable{
  padding-top: 30px;
}

.tableHeader{
  display: flex;
}

.tableHeader div {
  text-align: center;
  align-items: center;
  font-weight:bold;

}

.orderTask{
  border-right: 1px solid white;
  width: 3vw;
}

.tableHeader .nameTask{
  border-right: 1px solid white;
  width: 45vw;
}



.dateTask{
  border-right: 1px solid white;
  width: 13vw;
}

.doneTask{
  border-right: 1px solid white;
  width: 4vw;
}

.borderRightDark{
  border-right: 1px solid black !important;
}

.buttomTask{
  width: 10vw;
}

.containerTasks{
  display: flex;
}

.containerTasks:hover{
  background-color: rgba(0, 0, 0, 0.076) !important;
}

.containerTasks div{
  border-top: 1px solid white;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTasksDark div{
  border-top: 1px solid black;
}

.containerTasks .nameTask{
  cursor: pointer;
  border-right: 1px solid white;
  width: 45vw;
  font-family: 'Cardo',cursive;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.btn-primary{
  color:white;
  height: 30px;
  display: flex;
  align-items: center;
  border:none;
  outline: none;
}

.btn-primary:focus{
  box-shadow: none;
  background: #007BFF;
}

.divInsertTask{
  margin-top: 20px;
  width: 30vw;
  margin-left:auto;
  margin-right: auto;
}

.form-control{
  height: 30px;
}

.actionsButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.myFooter{
  transition: background-color 0.5s ease-in-out;
  border-top: 1px solid white;
  background-color: black;
}

.myFooterDark {
  transition: background-color 0.5s ease-in-out;
  border-top: 1px solid black !important;
  background-color: white !important;
  color:black !important;
}


@media (max-width : 1260px){
  .actionsButton{
    flex-direction: column;
    width: 150px;
  }

  .actionsButton button{
    margin-bottom: 20px;
  }

  .btn-primary{
    color:white;
    height: 30px;
    display: flex;
    border:none;
    outline: none;
    justify-content: center;
  }

  .btn-primary:focus{
    box-shadow: none;
    background: #007BFF;
  }
}

@media (max-width : 1130px){
  .tableHeader{
    width: 840px !important;
  }

  .containerTasks{
    width: 840px !important;
  }

  .orderTask{
    width: 32px !important;
  }

  .nameTask{
    width: 500px !important;
  }

  .dateTask{
    width: 160px !important;
  }

  .doneTask{
    width: 45px !important;
  }

  .buttomTask{
    width: 115px !important;
  }

  .scrollTable{
    overflow-x:scroll;
    margin-left: 10px;
    margin-right: 10px;
  }

  .myTable{
    display: block !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }
}

@media (max-width : 900px){
  .tableHeader{
    width: 700px !important;
  }

  .containerTasks{
    width: 700px !important;
  }

  .orderTask{
    width: 32px !important;
  }

  .nameTask{
    width: 350px !important;
  }

  .dateTask{
    width: 160px !important;
  }

  .doneTask{
    width: 45px !important;
  }

  .buttomTask{
    width: 115px !important;
  }
}

@media(max-width : 640px){
  .taskComponent{
    width: 400px !important;
  }
}

@media(max-width : 375px){
  .taskComponent{
    width: 350px !important;
  }
}

@media(max-width : 350px){
  .taskComponent{
    width: 270px !important;
  }
}

.taskComponent{
  position: fixed;
  top:35%;
  width: 600px;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid black;
  background: white ;
}

