
<div class="header">To Do List</div>

<div class="body-container">
  <div class="containerTable">
  <div class="myTable">

      <div class="tableHeader">
          <div class="orderTask">#</div>
          <div class="nameTask">Task</div>
          <div class="dateTask">Date</div>
          <div class="doneTask">Done</div>
          <div class="buttomTask"></div>
      </div>

      <div *ngFor="let task of bufferTask" [hidden]="task.check && testCheck" class="containerTasks">

              <div class="orderTask">{{task.id}}</div>
              <div class="nameTask">{{task.name}}</div>
              <div class="dateTask">{{task.date}}</div>
              <div class="doneTask"><input type="checkbox" (change)="clickCheck($event, task)" ></div>
              <div class="buttomTask"><button (click)="deleteTask(task.name)">Delete task</button></div>

      </div>

  </div>

  <input type="string" [(ngModel)]="nameTask" (keyup.enter)="addTask()" placeholder="Insert task"><button (click)="addTask()">Add new task</button>
  <button class="buttonShow" (click)="hiddenComplete()" *ngIf="showTask">Hide complete</button>
  <button class="buttonShow" (click)="showComplete()" *ngIf="!showTask">Show complete</button>



</div>
</div>


<footer class=" text-white myFooter">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{year}} Copyright:
    <a href="https://www.linkedin.com/in/bryan-tamayo-abad/">in/bryan-tamayo-abad</a>
  </div>
  <!-- Copyright -->
</footer>

